CONFIGD = $(SBIN)/condor_configd
CONFIGD_LOG = $(LOG)/ConfigLog
MAX_CONFIGD_LOG = 1000000
DAEMON_LIST = $(DAEMON_LIST), CONFIGD
CONFIGD_CHECK_INTERVAL = 3600
ALLOW_ADMINISTRATOR = $(ALLOW_ADMINISTRATOR), $(FULL_HOSTNAME), $(IP_ADDRESS)
SEC_DEFAULT_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS), FS, NTLM, CLAIMTOBE
SEC_CLIENT_AUTHENTICATION_METHODS = $(SEC_CLIENT_AUTHENTICATION_METHODS), FS, NTLM, CLAIMTOBE
MASTER.SEC_ADMINISTRATOR_AUTHENTICATION_METHODS = $(MASTER.SEC_ADMINISTRATOR_AUTHENTICATION_METHODS), FS, NTLM, CLAIMTOBE
SEC_DEFAULT_CRYPTO_METHODS = $(SEC_DEFAULT_CRYPTO_METHODS), 3DES
WINDOWS_SOFTKILL = $(SBIN)\pidkill.bat
SHUTDOWN_FAST_TIMEOUT = 5
CONFIGD_WIN_INTERVAL = 3
LOCAL_CONFIG_FILE = $(LOCAL_DIR)/wallaby_node.config
REQUIRE_LOCAL_CONFIG_FILE = FALSE
CONFIGD_ENABLE_NOTIFICATIONS = TRUE
CONFIGD_UPDATE_INTERVAL = 10
