QMF_CONFIGD = $(SBIN)/condor_configd
QMF_CONFIGD_LOG = $(LOG)/ConfigLog
MAX_QMF_CONFIGD_LOG = 1000000
DAEMON_LIST = $(DAEMON_LIST), QMF_CONFIGD
QMF_CONFIGD_CHECK_INTERVAL = 3600
ALLOW_ADMINISTRATOR = $(ALLOW_ADMINISTRATOR), $(FULL_HOSTNAME)
SEC_DEFAULT_AUTHENTICATION_METHODS = $(SEC_DEFAULT_AUTHENTICATION_METHODS), FS, NTLM
SEC_CLIENT_AUTHENTICATION_METHODS = $(SEC_CLIENT_AUTHENTICATION_METHODS), FS, NTLM
MASTER.SEC_ADMINISTRATOR_AUTHENTICATION_METHODS = $(MASTER.SEC_ADMINISTRATOR_AUTHENTICATION_METHODS), FS, NTLM
WINDOWS_SOFTKILL = $(SBIN)\pidkill.bat
SHUTDOWN_FAST_TIMEOUT = 5
QMF_CONFIGD_WIN_INTERVAL = 3
LOCAL_CONFIG_FILE = $(LOCAL_DIR)/wallaby_node.config
REQUIRE_LOCAL_CONFIG_FILE = FALSE
